/.vscode
/venv
/__pycache__



# Docker related
# Ignore Docker volumes, build cache, logs, and environment files
**/data
**/volumes
**/.docker
*.log
.env

# Docker Compose override files (optional, if used for local development)
docker-compose.override.yml

# Python specific ignores
*.pyc
*.pyo
*.pyd
.Python
ENV/
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
